{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": ["./tsconfig.json"] // Specify it only for TypeScript files
  },
  "rules": {
    "@typescript-eslint/no-misused-promises": 0
  }
}
